# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.h5

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node/React frontend
node_modules/
build/
dist/
